th{
    background-color: gray;
    color: antiquewhite;
    font-size: 25px;
}
table 
{
    border-collapse: collapse;
    width: 75%;
    width: 100%; /* Cambiado para adaptarse al ancho de la pantalla */
    max-width: 800px; /* Cambiado para limitar el ancho máximo */
}
th, td 
{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even)
{
    background-color:rgb(63, 63, 126);
}
th 
{
    background-color:midnightblue; 
    color: white;
}    

body
{
    padding: 50px;
    margin: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./imagen/fondo.png);
    background-size: cover;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 0; /* Cambiado para evitar el espacio extra */
    min-height: 100vh; /* Para ocupar el alto completo de la ventana */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    min-height: 100vh; /* Para ocupar el alto completo de la ventana */

    
}

@media (max-width: 600px) {
    /* Estilos para pantallas más pequeñas */
    body {
        padding: 20px;
    }
    table {
        margin: 10px;
    }
}